body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2em;
  transition: background-color 0.3s;
  text-align: center;
}

nav a:hover {
  background-color: #676666;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}
img{
  max-width: 100%;
  border-radius: 10px;
}
.h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #3a3939;
  color: white;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #99dc9c;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  nav a {
    padding: 8px 12px;
    font-size: 1em;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}